.reveal {
    background-image: url('tubarao carcharhinus.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: white; /* Cor dos títulos */
}

.reveal p, .reveal li, .reveal blockquote {
    color: white; /* Cor do texto dos slides */
}